@tailwind base;
@tailwind components;
@tailwind utilities;

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
	border: none !important;
	box-shadow: none !important;
}

.ck.ck-editor__editable_inline {
	padding: 0 !important;
	border: none !important;
}

.ck-editor__editable {
	min-height: calc(100vh - 140px);
}

.ck.ck-balloon-panel {
	box-shadow: none !important;
}

p {
	@apply text-xl;
}

h1 {
	@apply text-6xl;
}

h2 {
	@apply text-4xl;
}
